

.top-section{
    margin: 0;
    padding: 0;
    background: url("../imgs/ciudad.jpg") no-repeat;


}
.title{
        color:var(--orange);
}



/*movil*/
@media (max-width: 700px) {
    .top-section{
        background: url("../imgs/ciudad-movil.jpg") no-repeat;
    }
    
}