

.top-section{
    margin: 0;
    padding: 0;
    height: 76vh;
    background: url("../imgs/ciudad.jpg") no-repeat;
    background-size: 100% 180%;
    background-position: 0em -6em ;

}
.title{
        color:var(--orange);
}

@media (max-width: 800px) {
    .title{
        font-size: 4vh;
    }
    .top-section{
        background: url("../imgs/ciudad-movil.jpg") no-repeat;
        background-size: 115% 90%;
    }
    
}