body {
    position: absolute;
    background-color: var(--gray);
}

.center-vertical { margin-top: auto; margin-bottom: auto; }

.detail-container {
    background: var(--background);
    border-radius: 3em;
    margin-top: 16vh;
    width: 100%;
}

.elements-d {
    grid-template-columns: repeat(2, 0fr);
    gap: 0.5em;
}

.inner-image {
    width: 110vh;
    border-top-left-radius: 3em;
}

.inner-text {
    display: block;
    grid-column-start: 3;
    padding-right: 1.5em;
}

.detail-title {
    font-family: Montserrat-SemiBold;
    margin: 1.5em 0 .5em;
}

.detail-description {
    font-family: Montserrat-Light;
}

.inner-row {
    display: inline-flex;
}

.detail-bottom {
    font-family: Montserrat-Regular;
    margin: 1.5em 0em 2em 2.5em;
}

.detail-bottom:hover {
    font-family: Montserrat-Bold;
}

.inner-like {
    display: inline-flex;
}

#like { display: none; }

#like:hover ~ label i {
    color: var(--green);
}

#like:checked ~ label i {
    color: var(--green);
}

.links {
    font-family: Montserrat-Regular;
    margin: .5em 0;
    color: var(--orange);
    top: 0;
}

.links:hover {
    font-family: Montserrat-Bold;
    color: var(--green);
}

.footer-section {
    top: auto;
    height: 6.5vh;
}

@media (max-width: 800px) {
    .detail-container {
        margin-top: 12vh;
    }

    .elements-d {
        display: block;
        width: 100%;
    }

    .inner-image {
        width: 100%;
        border-radius: 3em 3em 0 0;
    }

    .inner-text {
        width: 80%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .inner-row {
        display: grid;
        width: 80%;
        grid-template-columns: auto auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .detail-bottom {
        margin: 0 0 1.5em 0;
    }

    .footer-section {
        height: 13vh;
    }
}