.fondo {
    width: 100%;
    background: url(../imgs/fondo-formulario-lugar.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 100vh;
}

.cuadricula-interna {
    display: grid;
    width: 85%;
    margin: auto;
}

.contenedor-formulario {
    background: #232221;
    border-radius: 3em;
    margin-top: 10em;
}

.titulo-formulario {
    text-align: center;
    
}