:root{
    --background: #232221;
    --orange: #F3881F;
    --orange-b:#d4781c;
    --green: #006600;
    --white:#F2F2F2;
    --gray: #2D2C2B;
    --display-nav:none;
    --backgraund-alpha: rgba(35, 34, 33, 72%);
    --text-gray:#7C7C7C;
    --black: #0F0F0F;
    --menu2:rgba(0 , 0, 0, 0%);
}

.text-16 { font-size: 1em; }
.text-20 { font-size: 1.25em; }
.text-24 { font-size: 1.5em; }
.h-13 { height: 13vh; }
.mr-02 { margin-right: .2em; }

*{
    list-style: none;
    text-decoration: none;
    color: var(--white);
}
html{ 
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    position: relative;
    top: 0;
}

::-webkit-scrollbar{
    width: 6px;
    height: 13px;
    }
    ::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
    }
    ::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0%);
    border-radius: 0px;
    
    }

    /* centra todo */
.center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

/* genera margenes  a los lados*/
.inner-grid{
    width: 80%;
    margin: auto;
}


/*top section nav*/
.nav-sec{
    background: var(--backgraund-alpha);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    animation: nav 1s;
}
.nav-bar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.end{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    grid-column-start: 3;
}

.menu2{
    display: inline-flex;
    margin: 0 .3em;
    font-family: "Montserrat";
    font-weight: 400;
}

.d-logo{
    width: 100%;
}
.logo{
    display: inline-flex;
    font-family: Phoresta;
    font-size:2em;
    letter-spacing: 0.1em;
    margin: 0.5em 0em;
}
.logo>span{
    color:var(--orange);
}
.nav-items{
    display: inline-flex;
    font-size: 1.2em;
    top:-0.5em;
    padding: 0;
    
}
.nav-item,.menu2{
    margin: 0 .5em;
}
.nav-item,.nav-item-cluster
{
    display: inline-flex;
    padding: .2em 1em;
    
    font-family: "Montserrat";
    font-weight: 400;

}

.nav-item:hover,.menu2:hover
{
    background-color: var(--orange);
    border-radius: 6px;
}
.menu2:hover{
    border-radius: 6px 6px 0 0;
}

.cluster>li:hover{
    background-color: var(--orange-b);
    border-radius: 6px;
}

.nav-item-cluster{
    position: relative;
    --display-nav:none;
}
.menu2:hover>li>ul{
    display: block;
}
.cluster{
    display: none;
    position: absolute;
    padding-inline-start: 0px;
    background-color: var(--orange); 
    margin: 0px;
    left: 0em;
    width: 100%;
    margin-top: 3vh;
    border-radius:  0 0 6px 6px;
}
.nav-item-cluster>p{
    margin: 0;
}
.cluster>li{
    width: 100%;
    text-align: center;
    padding: 0.5em 0em;

}



/*footer*/
.footer-section{
    background: var(--backgraund-alpha);
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 6vh;
    padding-top: 1vh;
}
.footer-element{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    padding: 0em 1em;
}
.footer-element>i{
    font-size: 1.2em;
    color: var(--orange);
}
.footer-elements{
    width: 100%;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 2vh;
    padding: 0px;
    margin: 0;
}


/*elementos genericos*/
.img-arrow{
    margin: 2em;
    width: 100%;
    height: 3em;
    
}

.number{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: 30vw 1fr 1fr 1fr;
    border-radius: 40px;
    box-shadow: -8px 8px 25px #000;
    background: var(--white);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 2vh;
    height: 36vh;
}
.element-data-2{
    grid-column-start: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}
.element-data-1{
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200%;
}
.element-img-1{
    display: flex;
    background: url(../imgs/trees-landscape-colorful-mountains-sunset-Italy-69255-wallhere.com\ \(1\).jpg) no-repeat;
    background-size: 100% 100%;
    
    border-radius: 40px 0px 0px 40px;
}
.element-title-1{
    color: var(--orange);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 2vw;
    padding: 3em 2em 0em 1vw;
    margin: 0;
}
.element-p-1{
    color: var(--text-gray);
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1em;
    padding: 0.2em 0em 0em 1vw;
    margin: 0;
}
.element-a-1>i{
    color: var(--green);
   font-size: 0.9em;
}
.element-a-1{
    position: relative;
    color: var(--green);
    font-family: "Montserrat";
    font-weight: 400 italic;
    font-size: 1.5em;
    padding: 1em;
    top: 35%;

}

.element{
    display: inline-flex;
    width: 24vw;
    margin: 2em 2em;
}

.inline{
    display: inline-flex;
    align-items: center;
}


.element>div{
    display: flex;
    flex-wrap: wrap;
    
    width: 24vw;
    background-color: var(--white);
    border-radius: 20px;
}


.element-img{
    display: flex;
    background: url(../imgs/trees-landscape-colorful-mountains-sunset-Italy-69255-wallhere.com\ \(1\).jpg) no-repeat;
    background-size: 100% 100%;
    width: 24vw;
    height: 28vh;
    border-radius: 20px 20px 0px 0px;
}


.element-title{
    color: var(--green);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.5vw;
    padding: 1em 0em 0em 1vw;
    margin: 0;
}
.element-p{
    color: var(--text-gray);
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1em;
    padding: 0.2em 0em 0em 1vw;
    margin: 0;
}
.element-a>i{
    color: var(--orange);
   font-size: 0.7em;
}



.element-a{
    display: block;
    position: relative;
    text-align: end;
    color: var(--orange);
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
    margin: 0em 0.8em;
    padding: 0.8em;
}

.element-data{
    width: 100%;
}

.elements-d{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.filtro{
    display: block;
    position: absolute;
    width: 100%;
    height: 76vh;
    opacity: 40%;
    background-color: var(--background);
}
.burger{
    display: none;
}
.bars { display: none; }
#menu,#menu2 { display: none; }
.st-1{
    margin: auto;
}
@keyframes nav {
    0%{
        top: -10vh;
    }

    100%{
        top: 0vh;
    }
}





/*cuadros genericos // Juan Luis*/


.background{
    width: 100%;
    padding-bottom: 40vh;
    height: 60vh;
}



.form-label{
    position: relative;
    display: block;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 25px;
    top: 40px;
    text-align: center;
}

.form-input{
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 2em;
    color: var(--white);
    background: var(--black);
    width: 16em;
    height: 3em;
    border-radius: .5em;
    top: 5em;
    outline: .1px solid var(--green);
    border: none;
}

/* botones en general*/
.form-submit{
    display: block;
    position: relative;
    border: none;
    background:var(--green);
    color: #fff;
    padding: 1em;
    border-radius: .5em;
    width: 12em;
    top: 5em;
    margin: auto;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 400;
}

.form-submit:hover{
    background: var(--orange);
}


.links{
    position: relative;
    display: block;
    text-align: center;
    top: 5em;
    margin-bottom: 1em;
}


.box{
    box-shadow: 0px 0px 60px 0px black;
    margin: auto;
    border-radius: 1em;
    position: relative;
    top: 23vh;
    width: 25%;
    background: var(--background);
}

/*/Juan Luis/*/



@media (max-width: 700px) {
    .footer-element{
        text-align: center;
    }


    
    .nav-bar{
        grid-template-columns: repeat(2,1fr);
        
    }
  
    .nav-item-cluster{
        width: 100%;
        display: flex;
        flex-flow: column;
        padding: 0;
    }
   .menu2:hover>li>ul{
        display: none;
        border-radius: 6px;
    }
    .end{
        display: none;
        position: relative;
        grid-column-start:1;
        grid-column-end: 3;
        width: 100%;
        
    }
    
    .nav-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position: relative;
        right: 0;
        width: 100%;
        text-align: center;

    }
    .nav-item>a,.nav-item-cluster>p{
        width: 100%;
        text-align: center;
        padding: 3vh 0;
        margin: 0;
        height: auto;
    }
    .nav-item-cluster>ul{
        display: none;
    }
    .nav-item{
        position: relative;
    }
    .bars {
        display: block;
        width: 6vw;
        position: relative;
        background: var(--rojo);
        padding: .5em .5em .25em;
        left: 12vh;
        z-index: 2;
        margin-top: .8em;
    }
    #menu:checked ~ .end  {
        display: block;
    }
    #menu2:checked ~ .cluster   {
        display: block;
        position: relative;

    }
    

    .d-logo{
        text-align: center;
    }





    .element-1{
        width: 90%;
        margin: auto;
        height: 45vh;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .element-img-1{
        width: 100%;
        height: 16vh;
        border-radius: 40px 40px 0px 0px;
    }

    .element-1>div{
        width: 100%;
        
    }

    .element-title-1{
        padding: 1em 0em 0em 4vw;
        font-size: 6vw;
    }

    .element-p-1{
        padding: 1em 0em 0em 4vw;
    }
    .element-data-2{
        grid-column-start: 3;
        width: 100%;
    }
    .element-data-1{
        width: 100%;
    }

    .element-a-1{
        width: 90%;
        margin: auto;
        padding: 0 1em 1.5em 0 ;
        text-align: end;

    }

    .elements-d{
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        margin: auto;
    }
    
    .element{
        margin: 2em 0em 2em 0em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content:center;
        width: 100%;
        height: 28vh;
    }

    

    .element>div{
        width: 80vw;
        
    }

    .element-img{
        width: 100%;
        height: 14vh;
        border-radius: 20px 20px 0px 0px;
    }

    .element-title{
        font-size: 6vw;
        padding: 0.5em 0em 0em 1vw;
    }

    .element-a{
        margin: 0;
    }

    .footer-elements{
        padding: 0;
    }

    .filtro{
        height: 85vh;
    }

}

/*tablet*/
@media(max-width:1100px) and (min-width:700px){
    .nav-items{
        font-size: 2.5vw;
    }
    .menu2:hover>li>ul{
        display: none;
        border-radius: 6px;
    }
     .nav-item-cluster{
        width: 100%;
        display: flex;
        flex-flow: column;
        padding: 0;
    }
    .footer-element{
        text-align: center;
        font-size: 2vw;
        
    }
    .footer-section{
        height: 6vh;
        top: 91vh;
    }
    .container{
        height: 15vh;
    }
    .element-a-1{
        font-size: 1.2em;
        padding: 0 0.5em 0 0;
        top: 38%;
    }

    #menu2:checked ~ .cluster   {
        display: block;
        position: relative;

    }
    .nav-item-cluster>p{
        width: 100%;
        text-align: center;
        
        margin: 0;
        height: auto;
    }
}