
.background-login{
    background: url(../imgs/city.jpg)no-repeat;
    background-size: cover;
}


.box-login{
    height: 60vh;
    max-height: 460px;
}

@media (max-width: 800px) {
    .footer-section{
        top: 86vh;
        height: 14vh;
    }

    .footer-elements{
        margin-bottom: 0;
    }


}








