.top-section{
    margin: 0;
    padding: 0;
    background: url("../imgs/montaña.jpg") no-repeat;

}
@media (max-width: 700px) {
    .top-section{
        background: url("../imgs/montaña-movil.jpg") no-repeat;
    }
    
}