
.top-section{
    margin: 0;
    padding: 0;
    background: url("../imgs/playa.jpg") no-repeat;
    background-position: 0 -300px ;
    

}

@media (max-width: 700px) {
    .top-section{
        background: url("../imgs/playa-movil.jpg") no-repeat;
    }
    
}