.background-recover{
    background: url(../imgs/mar.jpg)no-repeat;
    background-size: cover;
}

.text-recover{
    top: 4em;
}


.form-input{
    left: 1.3vh;
}

.box{
    height: 55vh;
    max-height: 400px;
}

.footer-section{
    top: 93vh;
    height: 7vh;
}

.footer-elements{
    margin-bottom: 0;
}




@media (max-width: 700px) {
    .footer-section{
        top: 89vh;
        height: 11vh;
    }

    .footer-elements{
        margin-bottom: 0;
    }

    .box{
        width: 70%;
        top: 22vh;
    }


}

@media(max-width:1000px) and (min-width:700px){

}