.background-recover{
    background: url(../imgs/mar.jpg)no-repeat;
    background-size: cover;
}


.box{
    position: relative;
    height: 70vh;
    max-height: 400px;
    top: 16vh;
    min-height: 500px;
}


.footer-section{
    position: absolute;
    top: 92vh;
    height: 8vh;
}

.footer-elements{
    margin-bottom: 0;
}




@media (max-width: 700px) {
    .footer-section{
        top: 89vh;
        height: 11vh;
    }

    .footer-elements{
        margin-bottom: 0;
    }

    .box{
        width: 70%;
        top: 17vh;
        max-height: 500px; 
    }

    


}

@media(max-width:1100px) and (min-width:700px){

    .box{
        width: 40%;
        
        
    }

}