.background-recover{
    background: url(../imgs/mar.jpg)no-repeat;
    background-size: cover;
}

.text-recover{
    top: 4em;
}


.form-input-recover{
    left: 1.3vh;
}

.box-recover{
    height: 55vh;
    max-height: 400px; 
}