
.fondo{
    width: 100%;
    background: url(../imgs/music-Tourism-colors-Singapore-fb-ngc-661549-wallhere.com\ \(1\).jpg)no-repeat;
    background-size: cover;
    padding-bottom: 40vh;
}

.cuadro{
    box-shadow: 0px 0px 60px 0px black;
    margin: auto;
    border-radius: 1em;
    position: relative;
    top: 20vh;
    height: 60vh;
    width: 25%;
    background: rgba(35, 34, 33, 100%);
}

.footer-section{
    position: absolute;
    top: 94.3vh;
    background: var(--backgraund-alpha);
}

.form-label{
    display: inline-block;
    width: 6em;
}

.color{
    color: black;
}