


.background-register{
    background: url(../imgs/bosque.jpg)no-repeat;
    background-size: cover;
}


.box{
    position: relative;
    height: 70vh;
    top: 16vh;
    max-height: 500px; 
}

.footer-section{
    position: absolute;
    top: 92vh;
    height: 8vh;
}

.footer-elements{
    margin-bottom: 0;
}


@media (max-width: 700px) {
    .footer-section{
        top: 89vh;
        height: 11vh;
    }

    .footer-elements{
        margin-bottom: 0;
    }

    .box{
        width: 70%;
        top: 17vh;
    }


}

@media(max-width:1000px) and (min-width:700px){

}