@font-face {
    font-family: 'Phoresta';
    src: url('../fonts/Phoresta.ttf') format('truetype');
    font-style: 400;
    font-weight: normal;
}


.t1{
    font-size: 2vh;
}
.t2{
    font-size: 3vh;
}
.t3{
    font-size: 4vh;
}