body{/* parche pa cagada de jean */
    position: absolute;
    top: 0;
    background: var(--background);
    width: 100%;
}

.footer-section{
    display: block;
    position: relative;

}

.body{
    height: 100%;
    width: auto;
}
.background-usuario{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 76vh;
    background: url(../imgs/fondo_Usuario.jpg)no-repeat;
    background-size: cover;
    height:auto;
}

.banner{
    position: relative;
    width: 60%;
    height: auto;
    box-shadow: 0px 0px 60px 0px black;
    background: rgba(35, 34, 33, 100%);
    border-radius: 1em;
    margin: auto;
    padding-bottom: 2em;
    margin-top: 10em;
    margin-bottom: 2em;
}

.inline{  
    align-items: center;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-columns: 14em 1fr 1fr 1fr;
    height: 15vh;
}
.col-img{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 14em;
  
}
.col-mas{
    grid-column-start: 4;
}
.col-txt{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 200%;
}

.element-a-1{
    display: block;
    text-align: end;
    margin-top: .2em;
    margin-right: 2em;
    padding: 0;
}


.profile{
    background: #383838;
    border-radius: 1em 1em 0em 0em;
}

.img-profile{
    margin: 2em;
    margin-right: 4em;
    margin-left: 4em;
    width: 10em;
    height: 10em;
}

.inner-col{
    display: grid;
    grid-auto-flow:column;
    gap: 2em;
    align-items: center;
}

.inner-profile{
    margin: 0em 0 4em ;  
}

.text-name{
    display: flex;
    font-size: 2em;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 0em;
}

.text-mail{
    display: flex;
    font-size: 1em;
    font-family: "Montserrat";
    font-weight: 400;
}

.btn{
    display:block;
    position:relative;
    border: none;
    background: var(--orange);
    color: #fff;
    padding: 1.5em;
    border-radius: .5em;
    width: 10em;
    margin: auto;
    margin-top: 1em;
    font-family:  "Montserrat";
    font-weight: 400;
    text-align: center;
}


.site-background{
    border-radius: .5em;
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: var(--white);
    margin-bottom: 2em;
    padding: auto;
}

.site-img{
    width: 100%;
    height: 15vh;
    margin-right: 1em;
    border-radius: .5em 0em 0em .5em;
}

@media (max-width: 700px) {

    .banner{
        width: 80%;
        top: 14vh;
        margin-top: 6em;
        position: initial;
        margin-bottom: 1em;
    }

    .footer-section{
        height: 8vh;
    }

    .text-name{
        font-size: 1.5em;
        text-align: center;
        padding-top: 1.3em;
    }
    
    .text-mail{
        font-size: .8em;
        text-align: center;
        display:block;    }

    .img-profile{
        margin: 1em;
        width: 7em;
        height: 7em;
    }

    .profile{
        padding-bottom: 1em;
    }

    .btn{
        width: 60%;
        padding: 1em;
    }

    .inner-col {
        display:list-item; 
        grid-auto-flow:row; 
        align-items: center;
    }

    .inline{
        align-items: normal;
    }

    /*SITE*/

    .card{
        position: relative;
        grid-template-columns: 8em 1fr 1fr 1fr;
        height: 13vh;
    }

    .site-img{
        margin-right: 0em;
        width: 100%;
        height: 100%;
    }

    .col-img{
        width: 100%;
        height: 100%;
    }
    
    .element-title{
        font-size: 5vw;

    }

    .element-p{
        font-size: 4vw;

    }

    .col-txt{
        padding-left: 1vw;
    }
    
    .element-a-1{
        font-size: 1.2em;
        text-align:center;
        padding-top: 2em;
    }

    .img-arrow {
        margin: 0em;
        margin: 0em 2em; 
        width: 3em; 
        height: 100%;
    }

}

@media(max-width:1100px) and (min-width:700px){
    
    .banner{
        width: 80%;
        top: 14vh;
        margin-top: 6em;
        position: initial;
        margin-bottom: 1vh;
    }

    .text-name{
        font-size: 3.5vw;
        text-align: left;
        padding-top: 0vh;
    }

    .text-mail{
        font-size: .8em;
        text-align: left;
        display:block;    }

    .img-profile{
        margin: 1.5em;
        width: 20vw;
        height: 12vh;
    }

    .btn{
        width: 75%;
        padding: 1em;
    }

    .inner-col{
        gap: 0;
    }

    .profile{
        padding-bottom: 0em;
    }

    .cursor{
        cursor: pointer;
    }

    .img-arrow {
        margin: 0em;
        margin: 0em 2em; 
        width: 3em; 
        height: 100%;
    }

    .footer-section{
        top: 0;
    }

    /*SITE*/

    .card{
        grid-template-columns: 15em 1fr 1fr 1fr;
        height: 10vh;
    }

    .site-img{
        margin-right: 0em;
        width: 100%;
        height: 100%;
    }

    .col-img{
        width: 100%;
        height: 100%;
    }
    
    .element-title{
        font-size: 3vw;
        padding: 0em;

    }

    .element-p{
        font-size: 2.5vw;
        padding: 0em;

    }

    .col-txt{
        padding-left: 2vw;
    }
    
    .element-a-1{
        font-size: 3vw;
        text-align:center;
        padding-top: 0em;
        margin-bottom: 2vh;
        margin-right: 0em;
    }
    
}

