<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css">
    
    <link rel="stylesheet" href="../css/typografias.css">
    <link rel="stylesheet" href="../css/generico.css">
</head>
<body>
    <section class="footer-section">
        <footer class="footer inner-grip">
            <ul class="footer-elements center">
                <div>
                    <li class="footer-element"><i class="fab fa-facebook"></i></li>
                    <li class="footer-element"><i class="fab fa-instagram"></i></li>
                    <li class="footer-element"><i class="fab fa-twitter"></i></li>
                    <li class="footer-element"><i class="fab fa-youtube"></i></li>
                    <li class="footer-element"><a href="">Read the FAQ, the Terms & Conditions and the Privacy Policy</a></li>
                </div>
            </ul>
        </footer>
    </section>    
</body>
</html>
