   <!--     FOOTER COMPONENT -->
   <section class="footer-section">
    <footer class="footer inner-grid">
        <ul class="footer-elements center">
            <div>
                <div class="center">
                    <span>
                        <li class="footer-element"><i class="fab fa-facebook"></i></li>
                        <li class="footer-element"><i class="fab fa-instagram"></i></li>
                        <li class="footer-element"><i class="fab fa-twitter"></i></li>
                        <li class="footer-element"><i class="fab fa-youtube"></i></li>
                    </span>
                </div>
                <li class="footer-element"><a href="">Read the FAQ, the Terms & Conditions and the Privacy
                        Policy</a></li>
            </div>
        </ul>
    </footer>
</section>
