<section class="footer-section inner-grip">
    <footer class="footer">
        <ul class="footer-elements">
            <li class="footer-element"><i class="fab fa-facebook"></i></li>
            <li class="footer-element"><i class="fab fa-instagram"></i></li>
            <li class="footer-element"><i class="fab fa-twitter"></i></li>
            <li class="footer-element"><i class="fab fa-youtube"></i></li>
            <li class="footer-element"><a href="">Read the FAQ, the Terms & Conditions and the Privacy Policy</a></li>
        </ul>
    </footer>
</section>