<header>
    <section class="nav-sec ">
        <nav class="nav-bar inner-grid">
            <div class="d-logo">
                <a href="./index.html" class="logo">Tourist<span>Life</span></a>
            </div>
            <div>

                <label for="menu" class="bars">
                    <img src="./imgs/svg/bars.svg" alt="menu bar">
                </label>
            </div>
            <input id="menu" type="checkbox">
            <div class="end">
                <ul class="nav-items">
                    <li class="nav-item"><a href="./index.html">inicio</a></li>
                    <li class="nav-item-cluster">
                        <a href="./galeria.html">categoria</a>
                        <ul class="cluster">
                            <li><a href="./galeria.html">Galeria</a></li>
                            <li><a href="./playa.html">Playa</a></li>
                            <li><a href="./montana.html">Montaña</a></li>
                            <li><a href="./ciudad.html">Ciudad</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item"><a href="">acerca de</a></li> -->
                    <li class="nav-item"><a href="./inicioSesion.html">iniciar sesion</a></li>
                </ul>
            </div>
        </nav>
    </section>
</header>